{% extends "base.html" %}
{% load static %}

{% block title %}Меню {{child.pupil_id.first_name}}{% endblock%}

{% block additional_nav_btn %}
<li>
    <a href="{% url 'cart' child_id=child.id %}">Кошик ({{child.pupil_id.first_name}})</a>
</li>
{% endblock %}

{% block content%}
<div class="container">
    <h1 class="title">
        Меню {{ profile.school_id.name }}
    </h1>

    <div class="card-list card-list-column">
        {% for card in cards %}
        {% include "menu/date_card.html" with date=card.date meals=card.meals child_id=child.id%}
        {% endfor %}
    </div>
</div>
{% endblock %}
