{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a meal</title>
  </head>
  <body>
    <h1>Add a Meal</h1>
    {% comment %} <form method="post" action="{% url 'add_meal' %}">
      {% csrf_token %}
      <label for="menu_id">Menu:</label>
      <select name="menu_id">
        {% for menu in menus %}
          <option value="{{ menu.id }}">{{ menu.name }}</option>
        {% endfor %}
      </select>
      <br>
      <label for="name">Name:</label>
      <input type="text" name="name" required>
      <br>
      <label for="date">Date:</label>
      <input type="date" name="date" required>
      <br>
      <label for="time">Time:</label>
      <input type="time" name="time" required>
      <br>
      <input type="submit" value="Add">
    </form> {% endcomment %}
    {{ form.as_p }}
  </body>
  
</html>