{% extends "mod/base_mod.html" %}
{% block content %}
<h1>Прийоми їжі</h1>

{% comment %} {% for school, meals in school_meals.items %}
    <h2>{{ school }}</h2>
    {% for weekday, date in dates.items %}
        <h3>{{ weekday }}</h3>
        {% comment %} TODO: GENERATE THE LIST OF MEALS FOR THIS DAY % endcomment %}

        <form method="POST">
            {% csrf_token %}
            <label for="name" style="font-size: 12px;">Назва:</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="menu" style="font-size: 12px;">Меню:</label>
            <select name="menu" id="menu">
                {% for menu in menus %}
                <option value="{{ menu.id }}">{{ menu }}</option>
                {% endfor %}
            </select><br><br>
            <input type="hidden" name="date" value="{{ date }}">
            <input type="hidden" name="time" id="time">
            <input type="hidden" name="school_id" value="0">
            <input type="submit" value="Додати">
        </form>
        <br>
    {% endfor %}




{% endfor %} {% endcomment %}
<h1>Прийоми їжі</h1>
 {% for school, school_data in data.items %}
    <h2>{{ school }}</h2>
    {% for day in school_data %}
        <h3>{{ day.weekday }}</h3>
        <p>{{ day.date }}</p>
        {% if day.meals %}
        <ul>
            {% for meal in day.meals %}
            <li>{{ meal.name }} - {{ meal.menu_id }} {% comment %}<a href="{% url 'mod_edit_meal' meal.id %}">Редагувати</a>{% endcomment %}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>На цей день ще не додано прийомів їжі</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <label for="name" style="font-size: 12px;">Назва:</label>
            <input type="text" name="name" id="name"><br><br>
            <label for="menu_id" style="font-size: 12px;">Меню:</label>
            <select name="menu_id" id="menu_id">
                {% for menu in menus %}
                <option value="{{ menu.id }}">{{ menu }}</option>
                {% endfor %}
            </select><br><br>
            <input type="hidden" name="date" value="{{ day.date }}">
            <input type="hidden" name="time" id="time" value="12:00">
            <input type="hidden" name="school_id" value="{{ school.id }}">
            <input type="submit" value="Додати">
        </form>
        <br>
    {% endfor %}
{% endfor %}

{% endblock %}
