{% extends "base.html" %}
{% load static %}

{% block title %}Кошик ({{child.pupil_id.first_name}}){% endblock%}

{% block additional_nav_btn %}
<li>
    <a href="{% url 'menus' child_id=child.id %}">Меню ({{child.pupil_id.first_name}})</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="title"> 
        Кошик 
    </h1>
</div>


<div class="column">
    <div class="grid">
        {% for day in data.days %}
        <div class="day">
            <a href="{% url 'menu_date' child_id=child.id date=day.date %}">
                <h2>
                {{ day.date|date:"l" }}
                </h2>
            </a>
            {% for meal in day.meals %}
            <div class="meal" data-meal-id="{{meal.meal.id}}">
                {% for item in meal.items %}
                {% include "cart/cart_item_card.html" with item=item.menu_item_id meal_id=meal.meal.id%}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

<div class="comment">
    <button class="cart-btn" type="submit" name="confirm_button" onclick="confirmOrder()">Підтвердити</button>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>var pupilId = {{ child.pupil_id.id }}</script>
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}