<div class="item" data-item-id="{{item.id}}">
    <div class="image">
        <img src="" width="120" height="120">
    </div>

    <div class="info_bar">
        <div class="info">
            <div class="name">
                <h3>
                    {{ item.dish_id.name }}
                </h3>
            </div>
            
            <div class="row">
                <div class="cost">
                    <h4>
                        {{ item.price }}
                    </h4>
                </div>

                <div class="weight">
                    <h4>
                        {{ item.weight }}
                    </h4>
                </div>
            </div>

            <div class="description">
                <p>
                    {{ item.dish_id.description }}
                </p>
            </div>
        </div>

        <div>
            <div class="minus">
                <button onclick="clickMinus('{{item.id}}', '{{meal_id}}')">-</button>
            </div>

            <div class="number">
                <span class="counter"></span>
            </div>

            <div class="plus">
                <button onclick="clickPlus('{{item.id}}', '{{meal_id}}')">+</button>
            </div>
        </div>
    </div>
    
    <div class="comment">
        <div class="container">            
            <p>
                <label class="cart-label" for="id_comment">Коментар до страви</label> 
                <textarea class="cart-textarea"  rows="10" cols="50" type="text" name="comment" maxlength="512" id="id_comment"></textarea>  
            </p>
        </div>
    </div>

    <div class="delete">
        <button onclick="clickDelete('{{item.id}}', '{{meal_id}}')">✕</button>
    </div>
</div>
