{% extends "base.html" %}
{% load static %}

{% block title %}Діти{% endblock%}

{% block content%}
<form method="post">
    <div class="container">
        <h1 class="title">Діти</h1>
        <a class="button-add button" href="{% url 'add_child'%}" name="add_child_button">Додати</a>
        <div class="card-list">
            {% for card in cards %}
            {% if card.child.verified == "OK" %}
            {% include "children/child_card.html" with child=card.child %}
            {% endif %}
            {% endfor %}
            {% for card in cards %}
            {% if card.child.verified == "RQ" %}
            {% include "children/child_card.html" with child=card.child %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</form>
{% endblock %}
